# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Vue / js
node_modules

# Certs
certs
*.pem
*.pfx

# IDE
*.idea
.vscode

# Vetur
jsconfig.json
tsconfig.json

*.env

# Log and Keystore
src/log
src/keystore

# Secrets
secrets

# Logs
*.log